# URL da API Laravel
VITE_API_URL=http://localhost/fisio/api

# Base URL do frontend (usado pelo React Router e Vite)
VITE_BASE_URL=/fisio/app/

# Modo do ambiente
VITE_APP_ENV=local
VITE_APP_NAME=Fisio
